*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
:root{
    --main-color:#00204a;
    --secondary-color: #3d829dae;
    --sixth-color: rgb(0,0,139);
    --fourth-color:#253e5fde;
    --fifth-color:#062b5c;
    --btn-color: #007bff;
    --third-color:#ffc107;
    --background-color: #ddd;
    --border-color:#d8d8d8;
    --text-color:#1b1b1b;
    --bg-color:#fff;
    --box-shadow:2px 2px 10px 14px rgb(14 55 54 /15%);
    --accent-color: #8672FF;
  --base-color: white;
  --text-color: #2E2B41;
  --input-color: #F3F0FF;

}
body{
    background-color: var(--bg-color); 
}
html, body {
    overflow-x: hidden;
  }
img{
    width: 100%;
}

section{
    margin: 0;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    background-color: var(--main-color);
    color: var(--bg-color);
    text-align: center;
    z-index: 10000;
}
.menu-icon-wrapper{
    
    position: fixed;
    margin: 10px;
    
    left: 20px;
    font-size: 24px;
    z-index: 100001;
    cursor: pointer; 
    background: var(--secondary-color);
    color: var(--bg-color);
    padding: 10px 15px;
    border-radius: 5px;
    z-index: 1000;
    display: none;
}
.menu-icon-wrapper i{
    
    font-size: 25px;
    color: var(--bg-color);
}

.logo-and-explore-wrapper{
    width: 30%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    gap: 15px;
}
.logo{
    margin: 0;
    padding: 5px;
    
}
.logo p{
    font-family:'Times New Roman', Times, serif;
    color: var(--bg-color);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px;
    box-shadow: var(--box-shadow);
}

.explore{
    width: 30%;
    height: 100%;
    
    color: var(--bg-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.explore p{
    margin: 0; 
    padding: 0;
    
    font-size: 14px;
    padding-right: 10px;
}
.explore i{
    font-size: 12px;
    
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}
.explore-box-wrapper{
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    width: 1000px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: none; 
    z-index: 100;
    
   
}
.explore-box-cover{
    display: flex;
    justify-content: center;
    align-items: stretch;
}
/**/
.explore-menu-wrapper{
    width: 30% ;
   
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height:30px;
    padding: 10px;
    border-right: 1px solid var(--border-color);
}
.list1-links {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.list1-links li{
    
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
    padding: 0;
    transition: all 0.5s ease;
}
.list1-links li:hover{
    
    transform: translateX(10px);
}
.list1-links li a{
    color: var(--text-color);
    
    text-decoration: none;
    
}
.list1-links li a:hover{
    color: var(--btn-color);
}
/**/
.explore-list-wrapper{
    
    width: 70%;
    
    background: var(--bg-color);
    color: var(--text-color);
    position: relative;
}
.explore-header {
   
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.explore-header h4{
    
    margin: 5px;
    padding: 5px;
}
.explore-header i {
    font-size: 28px;
    
    cursor: pointer;
    margin: 5px;
}
.explore-list {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: left;
    padding: 10px;
    line-height: 15px;
    font-size: 14px;
    list-style: none;
    margin: 0;
}
.explore-list a{
    text-decoration: none;
    color: var(--text-color);
}
.explore-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    
}

.explore-list-item i{
    font-size: 10px;
    margin: 5px;
   
}
.explore-list-item:hover {
    transform: translateX(10px);
    font-weight: 600;
    color: var(--btn-color);
}
/**/
.pagination-for-explore-box{
    width: 100%;
 
    position: relative;
    top: 50px;
}
.pagination-for-explore-box .pagination .page-link {
    font-size: 15px; 
    font-weight: bold;
    padding: 10px 14px; 
    color: var(--main-color);
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    
  
}

.pagination-for-explore-box .pagination .page-item.active .page-link {
    background-color: var(--btn-color); 
    color: white;
    border-color: var(--btn-color);
    
}

.pagination-for-explore-box .pagination .page-item .page-link:hover {
    background-color: var(--fifth-color);
    color: white;
}

.pagination-for-explore-box .pagination .page-item.disabled .page-link {
    opacity: 0.5;
    cursor: not-allowed;
}
/**/
.contact-of-explore-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contact-explore{
    
    padding: 10px;
}
.contact-explore h4{
    font-size: 30px;
    font-weight: 600;
    color: var(--main-color);
}
.contact-explore p{
    font-size: 16px;
    color: var(--text-color);
}
.add-your-business-btn,
.advertise-with-us-btn{
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, var(--fifth-color), var(--btn-color));
    border-radius: 8px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
.add-your-business-btn a,
.advertise-with-us-btn a{
    color: var(--bg-color);
}
.navbar1{
    display: flex; 
    justify-content: center;
    align-items: center;
    
}
.navbar1 ul{
    padding: 8px ;
    color: var(--bg-color);
    display: flex;
}

.navbar1 a{
    text-decoration: none;
    color: var(--bg-color);
    margin: 10px;
}

 .navbar1 .btn{
    width: 120px;
    height: 40px;
    background-color: var(--btn-color);
    color: var(--bg-color);
    padding: 5px;
    text-align: center;

} 
.navbar1 .btn:hover{
    background-color: #4097f5;
}

.menu-box{
    /**/  width: 100%;
    
     position: fixed;
     background: var(--fifth-color)  ;
     top: 100px;
     left: -2000px; 
    height: 100vh;
    overflow: hidden;
    padding: 30px ;  
   transition: left 0.3s ease;
}
.close-icon{
    transition: transform 0.3s ease-in;
}
.close-icon i {
    color: var(--bg-color);
    font-size: 25px;
    
    cursor: pointer;
    margin-right: 20px;
    position: absolute;  
    top: 10px;
    right: 10px;
    z-index: 10;

}
.close-icon :hover{
    transform: rotateX('360deg');
}
.menu-box-wrapper{
    border: 1px solid var(--border-color);
    padding: 5px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 180px); 
    overflow-y: auto; 
    scrollbar-width: thin; 
    scrollbar-color: var(--main-color) var(--secondary-color);
}

.navbar-and-explore-box{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
   
    padding: 5px; 
    overflow-y: auto; 
    flex-grow: 1;
}
.navbar-wrapper1{
    width: 100% ;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    flex: 1; 
    line-height: 30px;
    padding: 10px;
    
}
.navbar-wrapper1-header {
    width: 100%;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
}
.list-links {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.list-links li{
    
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
    padding: 8px;
    transition: all 0.5s ease;
}
.list-links li:hover{
    
    transform: translateX(10px);
}
.list-links li button{
    background-color: #007bff;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    border: #007bff;
}
.list-links li a{
    color: var(--bg-color);
    
    text-decoration: none;
    
}
.list-links li a:hover{
    color: var(--btn-color);
}
/**/
.navbar-wrapper2{
    width: 100% ;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height:30px;
    padding: 10px;
    
}
.navbar-list-menu-wrapper1,
.navbar-list-menu-wrapper2{
    margin: 5px;
    padding: 5px;
    width: 100%;
    
}
.list2-links {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.list2-links li{
    
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
    padding: 8px;
    transition: all 0.5s ease;
}
.list2-links li:hover{
    
    transform: translateX(10px);
}
.list2-links li a{
    color: var(--bg-color);
    font-size: 16px;
    text-decoration: none;
    
}
.list2-links li a:hover{
    color: var(--btn-color);
}
/**/
.explore-box{
    
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    line-height:30px;
    padding: 10px;
    flex-grow: 1;
    
}
.explore-list-menu-wrapper{
    width: 100%;
    padding-bottom: 20px;
    margin: 10px;
    
    
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.explore-list-header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid gray;
}
.explore-list-header h4{
    
    margin: 0;
    padding: 5px;
}

.explore-menu-list {
    
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    justify-items: left;
    padding: 10px;
    line-height: 15px;
    font-size: 14px;
    list-style: none;
    margin: 0;
}

.explore-menu-list-item {
    width: 90%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
    
}
.explore-menu-list-item a{
    font-size: 16px;
    display: block;
    
    color: var(--bg-color);
    text-decoration: none;
}
.explore-menu-list-item i{
    color: var(--bg-color);
    justify-content: left;
    font-size: 12px;
    margin-right: 5px;
}
.explore-menu-list-item:hover {
    transform: translateX(5px);
}
.navbar-items{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    position: relative;
    top: -15px;
    background: linear-gradient(180deg, var(--fifth-color), var(--sixth-color));
    margin: 15px 0;
    transition: all 0.3s ease-in-out;
   
    text-align: center;
    
}




.footer-wrapper{
    background-color: var(--main-color);
    color: var(--bg-color);
    width: 100%;
}
.footer-cover{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.email-information{
    width: 100%;
    height: 70px;
    
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #121689;
}
.all-information-cover{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.first-line-of-information-cover{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem, 1fr)) ;
    gap: 10px;
}
.second-line-of-information-cover{
    border-top: 1px dashed var(--fifth-color);
    padding: 10px;
}

.top-category,
.trending-category,
.help-support{
    width: 100%;
    padding: 10px;
}
.popular-tags{  
    padding: 10px;
}

.top-category h6,
.trending-category h6,
.help-support h6,
.popular-tags h6{
    text-transform: capitalize;
}

.top-category-list .list ul,
.trending-category-list .list ul,
.help-support-list .list ul
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0;
    line-height: 25px;
    font-size: 14px;
}
.popular-tags-list .list ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding: 0;
    line-height: 25px;
    font-size: 14px;
}

 .list ul li a{
    text-decoration: none;
    color: var(--bg-color);
}

 .list ul li a:hover{
    text-decoration: underline;
    color: var(--btn-color);
}
.contact-details-cover{
    width: 100%;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem, 1fr)) ;
    gap: 15px;
}
.contact-details-cover h6{
    margin-bottom: 20px;
}
.contact-information,
.download-information,
.social-media-details{
    margin: 20px;
    font-size: 14px;
}
.contact-information h6,
.download-information h6,
.social-media-details h6{
    margin-bottom: 30px;
}
.download-information ul{
    display: flex;
    padding: 0;
    align-items: center;
}
.social-media-details ul{
    display: flex;
    padding: 0;
    align-items: center;
}
.download-information ul li,
.social-media-details ul li{
    margin: 7px;
}
.countries{
    border-top: 1px dashed #121689;
    width: 100%;
    display: flex;
    align-items: center;
}
.countries ul{
    width: 80%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px;
}
.countries ul li{
    margin: 10px;
    padding-right: 5px;
    border-right: 1px dashed #121689;
    font-size: 13px;
}

@media(min-width:1024px){
   
    .menu-box{
        left: -2000px;   
    }
    

}
@media (max-width: 1024px) {
    
    
}

@media(max-width:1024px){
    .menu-box{
        left: -2000px;    
    }
    
    
    
}
@media(max-width:991px){
    .navbar2 ul{
        gap: 15px;
    }
    .navbar2 ul li a{
        margin: 30px;
    }
    .menu-icon-wrapper{
        display: initial;
    }
    .navbar1 ul,
    .navbar1 a{
        display: none;
    }
    .navbar-items{
        display: none;
    }
    .explore{
        display: none;
    }
    header{   
        height: 100px ;
    }

    .logo-and-explore-wrapper{
        width: 100%;  
    }
    
    .menu-box{
          width: 50%;        
          
    }
    .menu-box.active{
        left: 0;
        display: block;
    }
    .close-icon i {
        font-size: 32px;
    }
    
    /*===========*/
   
     
    
  footer{
    position: relative;
    top: 150px;
  }
    
    
}
@media(max-width:768px){
    .logo p{
        padding: 0px;
    }
    .navbar1 ul{
        padding: 3px ;
    }

    .top-category-list .list ul,
    .trending-category-list .list ul,
    .help-support-list .list ul{
        grid-template-columns: 1fr; 
    }
    .popular-tags-list .list ul{
        grid-template-columns: repeat(2, 1fr);
    }
    .popular-company-list-cover{
        flex-direction: column;
    }
   
    
    .menu-box{
         width: 75%;      
    }

   /**/
  
  
  
  /* Dropdown styling */
  .dropdown {
    position: relative;
    width: 100%;
  }
  
  /* Search Icon */
  .search-btn {
    width: 100%;
  }
  

   
   

    
}

@media(max-width:480px){
    .logo p{
        padding: 0px;
    }
    .navbar1 ul{
        padding: 3px ;
    }
    .menu-box{
         width: 100%;  
    }
   
    .close-icon i {
        
        font-size: 35px;
       
    }
    .navbar-wrapper1-header h5,
    .explore-list-header h5{
        font-size: 25px;
    }
    .list-links a,
    .list2-links li a,
    .explore-menu-list a { 
        line-height: 30px;
        font-size: 20px;
        
    }
    /*=========================================*/
    .popular-tags-list .list ul{
        grid-template-columns: 1fr;
    }
    .all-information-cover {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .first-line-of-information-cover,
    .second-line-of-information-cover {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 5px;
    }
    
    .top-category-list .list ul,
    .trending-category-list .list ul,
    .help-support-list .list ul {
        grid-template-columns: 1fr;
        text-align: center;
    }
    
    .popular-tags-list .list ul {
        grid-template-columns: repeat(2, 1fr); /* Reduce columns */
    }
/*==========================================*/
    .countries ul{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(5rem,auto));      
    }
/*=====================================*/
    .category-header {
        grid-template-columns: 1fr; 
    }
    .category-title{
        top: 70%;
        padding-bottom: 10px;
    }
/*----------------------------------*/
   
   
    /*======================================*/
    .top-category,
    .trending-category,
    .help-support{
        padding: 10px;

    } 

    .top-category-list .list ul,
    .trending-category-list .list ul,
    .help-support-list .list ul
    {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding: 0;
        line-height: 25px;
        font-size: 14px;
    }
    
   
    
    
    

}